#footer {
    background-color: #447e98;
}
.myfooter {
    color: #9d9d9d;
    padding: 10px 0px;
}
.myfooter a {
    color: #efefef;
    padding: 10px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.myfooter a:hover {
    color: #E96840;
    padding: 12px 0px;
    text-decoration: none;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}