<script src="{{url_for('static',filename='assets/web/assets/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/tether/tether.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/smooth-scroll/smooth-scroll.js')}}"></script>
<script src="{{url_for('static',filename='assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js')}}"></script>
<script src="{{url_for('static',filename='assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/viewport-checker/jquery.viewportchecker.js')}}"></script>
<script src="{{url_for('static',filename='assets/dropdown/js/script.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/touch-swipe/jquery.touch-swipe.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/theme/js/script.js')}}"></script>
<script src="{{url_for('static',filename='assets/mobirise-slider-video/script.js')}}"></script>
