<script src="{{url_for('static',filename='assets/web/assets/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/tether.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/smooth-scroll.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/bootstrap-carousel-swipe.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.mb.ytplayer.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.viewportchecker.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/script.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.touch-swipe.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/script.js')}}"></script>
