<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    {%include 'top.html'%}
</head>

<body>
    {%include 'header.html'%}
    <section id="contact" class="section-padding" style="padding: 60px 0px;padding-top: 150px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="ser-title">Contact us</h2>
                    <hr class="botm-line">
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Contact Info</h3>
                    <div class="space"></div>
                    <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>SIDDHARTH COMPLEX, BELOW DR. GAWANDE HOSPITAL, OPPOSITE </p>
                    <p>RAJAPETH POLICE STATIION, MUDHOLKAR PETH, AMRAVATI</p>
                    <div class="space"></div>
                    <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@solconpowertech.com</p>
                    <div class="space"></div>
                    <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>07057585941</p>
                </div>
                <div class="col-md-8 col-sm-8 marb20">
                    <div class="contact-info">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <div style="color: red;"><b>{{ message }}</b></div>
                        {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
                        <h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
                        <div class="space"></div>
                        <div id="errormessage"></div>
                        <form method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" type="text" required="true">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" type="email" required="true">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="form-action">
                                <button type="submit" class="btn btn-form">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include 'footer.html'%}
</body>
{%include 'bottom.html'%}

</html>
