<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    {%include 'top.html'%}
</head>

<body>
    {%include 'header.html'%}
    <section class="mbr-cards mbr-section mbr-section-nopadding mbr-after-navbar" id="features3-e" style="background-color: rgb(255, 255, 255);">
        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 120px; padding-bottom: 0px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="{{url_for('static',filename='assets/images/SolarRoofTop.jpg')}}" class="card-img-top img-thumbnail"></div>
                        <div class="card-block">
                            <h4 class="card-title">Solar Rooftop</h4>
                            <h5 class="card-subtitle">Available</h5>
                            <p class="card-text">Click details to dee inside product</p>
                            <div class="card-btn"><a href="{{url_for('rooftop')}}" class="btn blue-chambray">Detail</a></div>
                            <title>Products</title>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 120px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="{{url_for('static',filename='assets/images/Water.jpg')}}" class="card-img-top img-thumbnail"></div>
                        <div class="card-block">
                            <h4 class="card-title">Solar Water Pump</h4>
                            <h5 class="card-subtitle">Available</h5>
                            <p class="card-text">Click details to dee inside product</p>
                            <div class="card-btn"><a href="{{url_for('waterpump')}}" class="btn blue-chambray">Detail</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 120px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="{{url_for('static',filename='assets/images/solarlight.gif')}}" class="card-img-top img-thumbnail"></div>
                        <div class="card-block">
                            <h4 class="card-title">Solar Lights</h4>
                            <h5 class="card-subtitle">Available</h5>
                            <p class="card-text">Click details to dee inside product</p>
                            <div class="card-btn"><a href="{{url_for('solarlight')}}" class="btn blue-chambray">Detail</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include 'footer.html'%}
</body>
{%include 'bottom.html'%}

</html>
