<!DOCTYPE html>
<html>

<head>
    {%include 'top.html' %}
    <title>Solar Rooftop</title>
</head>

<body>
    {%include 'header.html' %}
    <div class="container" style="padding-top: 60px; padding-bottom: 50px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="info">
                        <h5 class="product-title" style="color: ;text-align: right;">SOLAR WATER PUMP</h5></hr>
                        <div class="row">
                            <div class="col-md-5" style="padding-left: 20px;text-align:left;padding-top: 25px;"> <img src="{{url_for( 'static',filename='assets/images/waterpumpslide.jpg')}}" class="img-box " alt="Responsive image " style="height: 300px;width: 400px;padding-top: 25px; "></div>
                            <div class="col-md-7 " style="padding-left: 20px;text-align: left;padding-top: 25px; ">
                                <p>
                                    Solar power, or energy created by the sun, can be harnessed in a number of ways, including through solar panels that convert the sun's rays into electricity. In the case of a solar pump, solar energy is converted into electricity and fed to a pump that circulates water.</p>
                                <p>Ideally, grid interactive systems do not require battery back-up as grid acts as the back-up for feeding excess solar power and vice-versa. The installed capacity of the solar rooftop power system is depend on number of factors such as availability of shadow free roof, power requirement, budget etc.
                                </p>
                            </div>
                        </div>
                        <a href=" " class="btn ">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row ">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <div class="box ">
                    <div class="info ">
                        <h4 class="text-center ">Advantages</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                        <a href=" " class="btn ">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <div class="box ">
                    <div class="info ">
                        <h4 class="text-center ">Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                        <a href=" " class="btn ">Link</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row ">
            <div class="col-xs-12 ">
                <div class="box ">
                    <div class="info ">
                        <h5 class="product-title " style="color: ;text-align: left; ">Enviromental  view..</h5></hr>
                        <div class="row ">
                            <div class="col-md-5 " style="padding-left: 20px;text-align:left;">
                                <p>When solar water pumps replace either diesel generated electricity or grid based electricity, there are certain climate related benefits. A diesel generator emits <b> CO2 </b> during operation and grid based electricity is usually generated with either coal, oil or natural gas which also emits considerable quantities of <b> CO2</b>. In contrast. A solar based water pump system does not result in greenhouse gas emissions.</p>
                                <p> Extensive use of solar water pumps would therefore lead to substantial greenhouse gas emission reductions.</p>
                            </div>
                            <div class="col-md-7 "> <img src="{{url_for( 'static',filename='assets/images/waterpumplong.jpg' )}} " class="img-box " alt="Responsive image " style="height: 400px;width: 600px;padding-top: 25px;padding-top: 25px;padding-bottom: 25px; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12 ">
                <div class="box ">
                    <div class="info ">
                        <h5 class="product-title " style="color: ;text-align: left; ">Working ...</h5></hr>
                        <div class="row ">
                            <div class="col-md-12 " style="padding-left: 20px;text-align:left;padding-top: 25px; ">
                                <p>
                                    Solar power, or energy created by the sun, can be harnessed in a number of ways, including through solar panels that convert the sun's rays into electricity. In the case of a solar pump, solar energy is converted into electricity and fed to a pump that circulates water. These types of units can be used in swimming pools, fountains and larger agricultural projects.</p>
                                <p>Solar pumps operate using three main components. Solar cells collect the sun's rays and convert them into usable electricity. These cells are usually covered in silicon or another semiconductor material that produces direct-current electricity. Wiring moves the electricity from the cells to the pump, and the pump does the work of moving the water. Some systems may also contain a battery, which is charged when the sun is shining for use when it's dark outside</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%include 'footer.html'%}
</body>
{% include 'bottom.html'%}

</html>
